@import 'normalize';
@import 'variables'; //must come before all files, except normalize
@import 'themes';
@import 'layout';
@import 'typescale';
@import 'components/buttons'; 
@import 'components/card';
@import 'components/code';
@import 'components/hero';
@import 'components/images';
@import 'components/more-links';
@import 'components/navbar';
@import 'components/table';

//CUSTOM STYLES


body {
    margin: 0;
    padding: 0;
  
  }

.example {

    @media (min-width: $medium-devices){
      margin: $default-margin auto;
      max-width: 75vw;
    }
 
     .preview {
      background: lighten($light-gray, 2%);
      border-top: 1px darken($light-gray, 40%) solid;
      border-bottom: 1px darken($light-gray, 40%) solid;
         &.center-view {
            display: flex;
            justify-content: center;
            align-items: center;
         }
         &.img-view {
              line-height: 0;
         }
     }
    
}

.cdk-table {
  ul li {
    list-style: none;
  }
}