@import 'normalize';
@import 'variables'; //must come before all files, except normalize
@import 'themes';
@import 'layout';
@import 'typescale';
@import 'components/buttons'; 
@import 'components/card';
@import 'components/code';
@import 'components/hero';
@import 'components/images';
@import 'components/navbar';
@import 'components/table';

//CUSTOM STYLES


body {
    margin: 0;
    padding: 0;
  
  }

.example {
    margin: $default-margin auto;
 
     .preview {
         border: 1px $black solid;
         &.center-view {
            display: flex;
            justify-content: center;
            align-items: center;
         }
         &.img-view {
              line-height: 0;
         }
         &.dark-view {
             background: adjust-hue($primary-color, -15)
         }
     }


    
}

