/*
______________________________________________________

CARD SELECTORS
______________________________________________________

.cdk-card

*/

.cdk-card {
    margin: $default-margin 0;
    border-radius: 2px;
    box-shadow: 1px 1px 7px $medium-gray;
    background: $white;
    padding: $default-padding;
}
