/*
______________________________________________________

TABLE SELECTORS
______________________________________________________
.cdk-table

*/

table.cdk-table {
    text-align: left;
    border-collapse: collapse;
    border-radius: 2px;
    margin: $default-margin 0 $default-margin 0;
    border: 1px darken($light-gray, 30%) solid;
    background: $white;
    width: 100%;

    caption {
        text-align: left;
        color: inherit;
        font-style: italic;
        font-size: calc(var(--p-size) - .125rem);
    }

   th {
       font-weight: bold;
       &[scope="col"] {
           background: $dark-gray;
           color: $white;
           border: none;
       }
   }
   
   th,
   td {
       padding: .5rem;
       color: $dark-gray;  
       border: 1px darken($light-gray, 30%) solid;
   }
   tr:nth-child(odd) {
    background: lighten($light-gray, 4%);
    }

   tr:nth-child(even) {
       background: darken($light-gray, 4%);
   }
}
